<ion-view view-title="Codes">
    <div class="bar bar-subheader data_network_unavailable ng-hide" ng-hide="isOnline()">
        <p>Data network unavailable</p>
    </div>
    <ion-content class="has-header" ng-class="{'has-subheader': !isOnline()}">
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <span class="input-label">Brand Code :</span>
                    <input type="text" ng-model="code.brandCode">
                </label>
                <button id="brands" class="button button-small" ng-click="submitCode($event)">
                    Submit
                </button>
            </div>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <span class="input-label">Color Code :</span>
                    <input type="text" ng-model="code.colorCode" >
                </label>
                <button id="colors" class="button button-small" ng-click="submitCode($event)">
                    Submit
                </button>
            </div>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <span class="input-label">Size :</span>
                    <input type="number" ng-model="code.sizeCode">
                </label>
                <button id="sizes" class="button button-small" ng-click="submitCode($event)">
                    Submit
                </button>
            </div>
            <!-- <div class="item">
                123
                {{code.brandCode}}
            </div> -->
        </div>
    </ion-content>
   <!--  <button class="button button-fab button-fab-bottom-right button-brg-a mdi mdi-account-plus" ng-click="addUser()"></button> -->
</ion-view>
