<ion-view view-title="Codes">
    <ion-content padding="false">
        <ion-list>
            <ion-item ng-repeat="user in users" ng-if="user.active">
            <h2>{{user.name}}</h2>
            <p>{{user.email}}</p>
            <ion-option-button class="button-option button-positive mdi mdi-pencil" ng-click="editUser(user.id)"></ion-option-button>
            <ion-option-button class="button-option button-assertive mdi mdi-delete" ng-click="removeUser(user.id)"></ion-option-button>
            </ion-item>
            </ion-list>
    </ion-content>
    <button class="button button-fab button-fab-bottom-right button-brg-a mdi mdi-account-plus" ng-click="addUser()"></button>
</ion-view>
