<ion-view view-title="Login">

    <ion-content padding="true" class="center" ng-hide="showLoginView || showPasswordChangeView">
        <div class="row">
            <div class="col" style="text-align: center;">
                <p class="loading-text">Logging in</p>
                <ion-spinner icon="android"></ion-spinner>
            </div>
        </div>
    </ion-content>

    <ion-content class="padding ng-hide" ng-show="showLoginView && user.uid == undefined">
  	    <div class="list">
  		    <label class="item item-input item-floating-label">
  			    <span class="input-label">User</span>
  			    <input type="text" placeholder="User" ng-model="user.email">
  		    </label>
  		    <label class="item item-input item-floating-label">
  			    <span class="input-label">Password</span>
  			    <input type="password" placeholder="Password" ng-model="user.password">
  		    </label>
  	    </div>
  		<button class="button button-block button-positive" ng-click="login()">Login</button>
    </ion-content>

    <ion-content class="padding ng-hide" ng-show="showPasswordChangeView">
  	    <div class="list">
  		    <label class="item item-input item-floating-label">
  			    <span class="input-label">Email</span>
  			    <input type="email" placeholder="Email" ng-model="user.email">
  		    </label>
  		    <label class="item item-input item-floating-label">
  			    <span class="input-label">New password</span>
  			    <input type="password" placeholder="New password" ng-model="user.new_password">
  		    </label>
  		    <label class="item item-input item-floating-label">
  			    <span class="input-label">New password again</span>
  			    <input type="password" placeholder="New password again" ng-model="user.new_password_again">
  		    </label>
  	    </div>
  		<button class="button button-block button-positive" ng-click="change_pw()">Change Password</button>
    </ion-content>
</ion-view>
