<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-brg">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear mdi mdi-menu" menu-toggle="left">
                </button>
            </ion-nav-buttons>

        </ion-nav-bar>

        <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <div class="sidemenu_header">
                <div class="sidemenu_header_top">
                </div>
                <div class="sidemenu_header_user_detail">
                    <span class="sidemenu_username">{{user_detail.name}}</span><br>
                    <span class="sidemenu_email">{{user_detail.email}}</span><br>
                    <span class="sidemenu_role">{{role.name}}</span><br>
                </div>
            </div>
            <div class="sidemenu_border">
            </div>
            <ion-list class="sidemenu_list">
                <ion-item class="item-icon-left sidemenu_item" ng-class="{active: current.view == 'sales_list'}" menu-close href="#/main/sales/list">
                    <i class="icon mdi mdi-shopping sidemenu_item_icon"></i>
                    <span class="sidemenu_item_text">Sales</span>
                </ion-item>
                <ion-item class="item-icon-left sidemenu_item" ng-class="{active: current.view == 'items_list'}" menu-close href="#/main/items/list" ng-click="current.itemAddMode='fromitem'">
                    <i class="icon mdi mdi-package-variant sidemenu_item_icon"></i>
                    <span class="sidemenu_item_text">Items</span>
                </ion-item>
                <ion-item class="item-icon-left sidemenu_item hidden" ng-class="{active: current.view == 'reports_list'}" menu-close href="#/main/reports/list" ng-if="role.allowAccessReportsMenu" ng-show="role.allowAccessUsersMenu">
                    <i class="icon mdi mdi-file-document sidemenu_item_icon"></i>
                    <span class="sidemenu_item_text">Reports</span>
                </ion-item>
                <ion-item class="item-icon-left sidemenu_item hidden" ng-class="{active: current.view == 'codes_list'}" menu-close href="#/main/codes/list" ng-if="role.allowAccessCodesMenu" ng-show="role.allowAccessCodesMenu">
                    <i class="icon mdi mdi-tag-text-outline sidemenu_item_icon"></i>
                    <span class="sidemenu_item_text">Codes</span>
                </ion-item>
                <ion-item class="item-icon-left sidemenu_item hidden" ng-class="{active: current.view == 'users_list'}" menu-close ng-if="role.allowAccessUsersMenu" ng-show="role.allowAccessUsersMenu" href="#/main/users/list">
                    <i class="icon mdi mdi-account-multiple sidemenu_item_icon"></i>
                    <span class="sidemenu_item_text">Users</span>
                </ion-item>
                <ion-item class="item-icon-left sidemenu_item hidden" ng-class="{active: current.view == 'roles_list'}" menu-close ng-if="role.allowAccessRolesMenu" ng-show="role.allowAccessRolesMenu" href="#/main/roles/list">
                    <i class="icon mdi mdi-account-key sidemenu_item_icon"></i>
                    <span class="sidemenu_item_text">Roles</span>
                </ion-item>
                <ion-item class="item-icon-left sidemenu_item" href="#" menu-close ng-click="logout()">
                    <i class="icon mdi mdi-logout sidemenu_item_icon"></i>
                    <span class="sidemenu_item_text">Sign Out</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
