<ion-view view-title="Reports">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-icon button-cleear mdi mdi-calendar" style="color: white" ng-click="showDatePicker($event)"></button>
    </ion-nav-buttons>

    <ion-content padding="false">
    <div class="list">
        <a class="item" href="#/main/reports/view/mens">Mens Daily Report</a>
        <a class="item" href="#/main/reports/view/ladies">Ladies Daily Report</a>
    </div>
    </ion-content>
</ion-view>
