<ion-view view-title="Reports">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-icon button-cleear mdi mdi-calendar" style="color: white" ng-click="showDatePicker($event)"></button>
    </ion-nav-buttons>

    <div class="bar bar-subheader data_network_unavailable ng-hide" ng-hide="isOnline()">
        <p>Data network unavailable</p>
    </div>

    <ion-content padding="false" ng-class="{'has-subheader': !isOnline()}">
        <!--div class="data_network_unavailable ng-hide" ng-hide="isOnline()">
            <p>Data network unavailable</p>
        </div-->
        <div class="list">
            <a ink class="item ink" href="#/main/reports/view/mens">Mens Daily Report</a>
            <a ink class="item ink" href="#/main/reports/view/ladies">Ladies Daily Report</a>
        </div>
    </ion-content>
</ion-view>
