<ion-view title="BM@TAKA" >
    <ion-tabs class="tabs-light tabs-icon-left">
        <ion-tab title="Sale" icon="ion-ios7-cart">
            <ion-content padding="true" class="has-header">
                <ion-list>
                    <ion-item>R31006-BLU-39　　　　　　　$109</ion-item>
                    <ion-item>R31007-GRY-41　　　　　　　$109</ion-item>
                    <ion-item>R31007-TAN-40　　　　　　　$99</ion-item>
                    <ion-item>+ Add</ion-item>
                </ion-list>
            </ion-content>
        </ion-tab>
        <ion-tab title="" icon="ion-alert">
            <ion-content padding="true" class="has-header"></ion-content>
        </ion-tab>
        <ion-tab title="Stock" icon="ion-ios7-box">
            <ion-content padding="true" class="has-header"></ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>