<ion-view view-title="Add Item">
    <ion-header-bar align-title="left" style="background-color: #4DD0E1" class="bar-subheader bar-balanced">
        <!-- <span><h1 class="title">Add Item</h1></span> -->
        <span id="itemCode" class="title" ng-model="new_item.id" style="color: black">{{headerLabel }}: {{current.item_id}}</h1></span>
        <span style="float:right"><button class="button button-clear ion-close" ng-click="itemIdClear()" ng-hide="hideItemClearBtn"></button><span>
    </ion-header-bar>

    <ion-content padding="false" class="has-header">

        <!-- <div  id="itemCode" class="item item-input-inset">
            <label class="item-input-wrapper">
                <span class="input-label">Item Code :</span>
                <input ng-model="new_item.id" type="text" placeholder = "{{new_item.id}}">
            </label>
                <button class="button button-clear ion-close" ng-click="itemIdClear()"></button>
        </div> -->

<!--         <ion-item>
            <span class="input-label" ng-model="new_item.id">{{new_item.id}}</span>
            <span><button class="button button-clear ion-close" ng-click="itemIdClear()"></button></span>
        </ion-item> -->
        <!-- <label class="item">
            <span class="input-label" ng-model="item_brand">{{item_brand}}</span>
        </label>
        <label class="item"> -->
            <!-- <span class="input-label" ng-model="item_code">{{item_code}}</span> -->
        <!-- </label> -->
        <!-- <label class="item">
            <span class="input-label" ng-model="item_color">{{item_color}}</span>
        </label> -->
        <!-- <label class="item">
            <span class="input-label" ng-model="item_size">{{item_size}}</span>
        </label> -->
        <div ng-hide = "hideKBButtons">
            <div ng-show="showBrandInput" class="item item-input-inset bar-dark" style="padding:5px">
                <!-- <button id = "Back" class="button" ng-click="btn_code($event)"><</button> -->
                <ion-scroll direction="x" style="width:100%">
                    <button id = "HB" class="button" ng-click="btn_brand($event)">HB</button>
                    <button id = "F" class="button" ng-click="btn_brand($event)">F</button>
                    <button id = "R" class="button" ng-click="btn_brand($event)">R</button>
                    <button id = "H" class="button" ng-click="btn_brand($event)">H</button>
                </ion-scroll>
            </div>
            <div ng-show="showCodeInput" class="item bar-dark">
                <button id = "codeBack" class="button" ng-click= "btn_back($event)"><</button>
                <div class="button-bar" style="padding-top:4px">
                    <button id = "1" class="button" ng-click="btn_code($event)">1</button>
                    <button id = "2" class="button" ng-click="btn_code($event)">2</button>
                    <button id = "3" class="button" ng-click="btn_code($event)">3</button>
                    <button id = "4" class="button" ng-click="btn_code($event)">4</button>
                    <button id = "5" class="button" ng-click="btn_code($event)">5</button>
                    <button id = "Clear" class="button" ng-click="btn_code_clear()">CL</button>
                </div>
                <div class="button-bar" style="padding-bottom:4px">
                    <button id = "6" class="button" ng-click="btn_code($event)">6</button>
                    <button id = "7" class="button" ng-click="btn_code($event)">7</button>
                    <button id = "8" class="button" ng-click="btn_code($event)">8</button>
                    <button id = "9" class="button" ng-click="btn_code($event)">9</button>
                    <button id = "0" class="button" ng-click="btn_code($event)">0</button>
                    <button id = "OK" class="button" ng-click="btn_code_ok()">OK</button>
                </div>
            </div>
            <div ng-show="showColorInput" class="item item-input-inset bar-dark" style="padding:5px">
                <ion-scroll direction="x" style="width:100%">
                    <button id = "colorBack" class="button" ng-click="btn_back($event)"><</button>
                    <button id = "BLK" class="button" style="background-color: black" ng-click="btn_color($event)">BLK</button>
                    <button id = "BLU" class="button" style="background-color: #2196F3" ng-click="btn_color($event)">BLU</button>
                    <button id = "GRN" class="button" style="background-color: #4CAF50" ng-click="btn_color($event)">GRN</button>
                    <button id = "BRN" class="button" style="background-color: #795548" ng-click="btn_color($event)">BRN</button>
                </ion-scroll>
            </div>
            <div ng-show="showSizeInput" class="item item-input-inset bar-dark" style="padding:5px">
                <ion-scroll direction="x" style="width:100%">
                    <button id = "sizeBack" class="button" ng-click="btn_back($event)"><</button>
                    <button id = "38" class="button" ng-click="btn_size($event)">38</button>
                    <button id = "39" class="button" ng-click="btn_size($event)">39</button>
                    <button id = "40" class="button" ng-click="btn_size($event)">40</button>
                    <button id = "41" class="button" ng-click="btn_size($event)">41</button>
                    <button id = "42" class="button" ng-click="btn_size($event)">42</button>
                    <button id = "43" class="button" ng-click="btn_size($event)">43</button>
                    <button id = "44" class="button" ng-click="btn_size($event)">44</button>
                    <button id = "45" class="button" ng-click="btn_size($event)">45</button>
                </ion-scroll>
            </div>
        </div>

        <ion-header-bar align-title="left" class="bar-subheader" style="background-color: #4DD0E1; top:inherit">
        <!-- <span><h1 class="title">Add Item</h1></span> -->
        <span id="retailPrice" class="title" ng-model="new_item.retail_price">RETAIL PRICE : ${{current.editItemPrice}}</h1></span>
        <span style="float:right"><button class="button button-clear ion-close" ng-click="priceClear()"></button><span>
        </ion-header-bar >

        <!-- <div id = "retailPrice" class="item item-input-inset">
            <label class="item-input-wrapper">
                <span class="input-label">Retail Price :</span>
                <input ng-model="new_item.retail_price" type="text" placeholder = "{{new_item.retail_price}}">
            </label>
                <button class="button button-clear ion-close" ng-click="itemIdClear()"></button>
        </div> -->
        <div >
            <div class="button-bar" style="padding-top:40px">
                <button id = "1" class="button" ng-click="btn_price($event)">1</button>
                <button id = "2" class="button" ng-click="btn_price($event)">2</button>
                <button id = "3" class="button" ng-click="btn_price($event)">3</button>
                
            </div>
            <div class="button-bar">
                <button id = "4" class="button" ng-click="btn_price($event)">4</button>
                <button id = "5" class="button" ng-click="btn_price($event)">5</button>
                <button id = "6" class="button" ng-click="btn_price($event)">6</button>
            </div>
            <div class="button-bar">
                <button id = "7" class="button" ng-click="btn_price($event)">7</button>
                <button id = "8" class="button" ng-click="btn_price($event)">8</button>
                <button id = "9" class="button" ng-click="btn_price($event)">9</button>
                
            </div>
             <div class="button-bar">
                <button id = "." class="button" ng-click="btn_price($event)">.</button>
                <button id = "0" class="button" ng-click="btn_price($event)">0</button>
                
            </div>
        </div>

        



        <!-- <label class="item item-input">
            <span class="input-label">Item Code</span>
            <input ng-model="new_item.id" type="text">
        </label>
        <label class="item item-input">
            <span class="input-label">Retail Price</span>
            <input type="number" min="0" ng-model="new_item.retail_price">
        </label>
 -->
    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-dark">
        <div class="button-bar">
            <button ng-hide = "hideAddItemBtn" class="button" ng-click="addItemOK()" >Add Item</button>
            <button ng-hide = "hideEditItemBtn" class="button" ng-click="editItemOK()" >Edit Item</button>
            <button ng-hide = "hideAddSaleBtn" class="button" ng-click="addSaleOK()">Add Sale</button>
        </div>
    </ion-footer-bar>
</ion-view>
