<ion-view title="Edit/Add Sale">
    <ion-content padding="false" ng-class="{'smallscreen': smallScreenDetected}">

        <div class="row" >
            <div class="col">ITEM</div>
            <div class="col">{{sale.item_id | uppercase}}</div>
        </div>

        <div class="row">
            <div class="col">RETAIL PRICE</div>
            <div class="col">{{sale.retail_price | currency:"$"}}</div>
        </div>

        <div class="row">
            <div class="col">DISCOUNT(%)</div>
            <div class="col">
                <div class="button-bar">
                    <button id="discount" ng-class="{'bluebutton': discountToggle, 'greenbutton': discountHaveValue}" class="button button-small" ng-click="priceToggle($event)">{{sale.discount_rate}}%
                    </button>
                    <button id="PriceBackSpace" style="padding:0px" ng-show="showDiscountDel" class="button button-small icon ion-backspace-outline button-assertive ng-hide" ng-click="btn_back($event)">
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col" >SALE PRICE</div>
            <div class="col">
                <div class="button-bar">
                    <button id="sale" ng-class="{'bluebutton': saleToggle, 'greenbutton': saleHaveValue}" class="button button-small" ng-click="priceToggle($event)">{{sale.sale_price | currency}}
                    </button>
                    <button id="PriceBackSpace" style="padding:0px" ng-show="showSaleDel" class="button button-small icon ion-backspace-outline button-assertive ng-hide" ng-click="btn_back($event)">
                    </button>
                </div>
            </div>
        </div>

        <div class="row" ng-show="showQtyField">
            <div class="col">QTY</div>
            <div class="col">
                <div class="button-bar">
                    <button id="qty" ng-class="{'bluebutton': qtyToggle, 'greenbutton': qtyHaveValue}" class="button button-small" ng-click="priceToggle($event)">{{sale.qty}}
                    </button>
                    <button id="PriceBackSpace" style="padding:0px" ng-show="showQtyDel" class="button button-small icon ion-backspace-outline button-assertive ng-hide" ng-click="btn_back($event)">
                    </button>
                </div>
            </div>
        </div>

    </ion-content>

    <div style="position:absolute; bottom: 55px; width:100%" class="ng-hide" ng-show="showPriceInput">
        <div class="button-bar">
            <button id = "1" class="button" ng-click="btn_price($event)">1</button>
            <button id = "2" class="button" ng-click="btn_price($event)">2</button>
            <button id = "3" class="button" ng-click="btn_price($event)">3</button>
            
        </div>
        <div class="button-bar">
            <button id = "4" class="button" ng-click="btn_price($event)">4</button>
            <button id = "5" class="button" ng-click="btn_price($event)">5</button>
            <button id = "6" class="button" ng-click="btn_price($event)">6</button>
        </div>
        <div class="button-bar">
            <button id = "7" class="button" ng-click="btn_price($event)">7</button>
            <button id = "8" class="button" ng-click="btn_price($event)">8</button>
            <button id = "9" class="button" ng-click="btn_price($event)">9</button>
            
        </div>
         <div class="button-bar">
            <button id = "hideKeypad" class="button icon ion-chevron-down" ng-click="hideNumpad()"></button>
            <button id = "0" class="button" ng-click="btn_price($event)">0</button>
            <button id = "." class="button" ng-click="btn_price($event)">.</button>
            
        </div>
    </div>

    <ion-footer-bar keyboard-attach class="bar-balanced" style="padding:0px">
        <div class="button-bar">
            <button class="button button-assertive" ng-click="cancel()">Back</button>
            <button class="button" ng-click="ok()" >OK</button>
        </div>
    </ion-footer-bar>
</ion-view>
