<ion-nav-view>
<ion-view title="Page 1">
<!-- <ion-nav-bar class="bar-stable nav-title-slide-ios7">
<ion-nav-buttons side="left">
        <button class="button" ng-click="$ionicGoBack($event)"><i class="ion-arrow-left-c"></i> Back</button>
</ion-nav-buttons>
</ion-nav-bar> -->
<!-- <ion-nav-buttons side="secondary">
        <button class="button" ng-click="showStoreList()">{{store_name}}</button>
        <button class="button" ng-click="showDatePicker()">{{date}}</button>
</ion-nav-buttons> -->

<ion-content padding="false">
    <label class="item item-input">
        <span class="input-label">Search</span>
        <input ng-model="query.text" type="text">
    </label>
    <ion-list>
        <ion-item ng-repeat="item in items_array | filter :query.text | uppercase" ng-click="manualAddSalePage2(item.id)"><b>{{item.id}}</b></ion-item>
        <ion-item ng-show="(items_array | filter :query.text | uppercase).length == 0" ng-click="manualAddItemPage1()"><center><b>Not Found. Add New Item?</b></center></ion-item>
    </ion-list>
</ion-content>

<div class="bar bar-footer bar-balanced" style="bottom:47px" ng-hide="showStoreView">
        <div class="button-bar">
            <button class="button" ng-click="$ionicGoBack($event)">Back</button>
        </div>
</div>
</ion-view>
</ion-nav-view>