<ion-view hide-back-button="true" view-title="Sales">
    <ion-nav-buttons side="right">
        <div>
        <a class="button button-clear button-store" ui-sref="main.stores_list">{{current.store_name}}</a>
        <button class="button button-clear button-icon button-cleear mdi mdi-calendar" style="color: white" ng-click="showDatePicker($event)"></button>
        <!--
        <div class="dropdown-menu" ng-if="showPCDatePicker" ng-show="showPCDatePicker" ng-click="$event.preventDefault();$event.stopPropagation()">
            <div date-picker="current.raw_set_date" view="date" max-view="date" min-view="date" auto-close="false"></div>
        </div>
        -->
    </div>
    </ion-nav-buttons>
    
    <ion-content padding="true" ng-show="showSpinner">
        <ion-spinner icon="ripple"></ion-spinner>
    </ion-content>
    
    <ion-content padding="false" class="ng-hide" ng-show="showSalesView">
        <ion-list>
            <ion-item class="ng-hide" ng-repeat="(key, sale) in sales" ng-show="!sale.removed">
                <h2>{{sale.item}}</h2>
                <p>{{sale.time}}
                <span class="item-note">{{sale.price | currency:"$"}}</span>
                </p>
                <div ng-if="!salesClosed">
                    <ion-option-button class="button-option button-positive mdi mdi-pencil" ng-click="editSale(key)"></ion-option-button>
                    <ion-option-button class="button-option button-assertive mdi mdi-delete" ng-click="removeSale(key)"></ion-option-button>
                </div>
            </ion-item>
             <ion-item class="ng-hide energized item-icon-left" ng-if="!salesClosed" ng-show="!salesClosed">
                <i class="icon ion-chevron-left"></i>Swipe left to close sales for today
                <ion-option-button class="button-energized" ng-click="closeSales()"> Close today's sales<i class="ion-android-done-all" style="font-size: 30px; padding-left: 10px"></i></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <button class="button button-fab button-fab-bottom-right button-brg-a mdi mdi-plus ng-hide" ui-sref="main.items_list" ng-if="role.allowAddSales && !salesClosed" ng-show="role.allowAddSales && !salesClosed"></button>
    <button class="button button-fab button-fab-bottom-right button-dark mdi mdi-lock ng-hide" on-hold="reOpenSales()" ng-if="showClosedMessage" ng-show="showClosedMessage"></button>

    <!--
    <ion-footer-bar class="bar-balanced ng-hide" style="padding:0px" ng-if="role.allowAddSales && !salesClosed" ng-show="role.allowAddSales && !salesClosed">
        <div class="button-bar">
            -->
            <!-- <button class="button icon-right ion-plus-round button-balance" on-click="main.items_list">ADD</button> -->
            <!--
            <a class="button" ui-sref="main.items_list" style="font-size:17px"><i class="ion-plus-round" style="font-size:17px"></i> ADD</a>
            <a class="button" ui-sref="main.sales_scanadd" style="font-size:17px" ><i class="ion-ios-barcode-outline" style="font-size:20px"></i> SCAN</a>
        </div>
    </ion-footer-bar>
    <ion-footer-bar class="bar-energized ng-hide" style="padding:0px" ng-if="showClosedMessage" ng-show="showClosedMessage">
        <div class="button-bar ">
            <button class="button button-energized" on-hold="reOpenSales()">Sales Closed. Press and hold to re-open sales</button>
        </div>
    </ion-footer-bar>
    -->
</ion-view>

