<ion-view title= 'Item Add' >
    <div class="bar bar-subheader data_network_unavailable ng-hide" ng-hide="isOnline()">
        <p>Data network unavailable</p>
    </div>

    <ion-content padding="true" ng-class="{'has-subheader': !isOnline()}">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Item code</span>
                <input type="text" disabled ng-model="current.item_id">
            </label>
                <span class="input-label">Retail price</span>
                <div class="button-bar">
                    <button class="button button-small pcode-button" ng-click="priceToggle()">{{current.retail_price | currency}}</button>
                    <button id="PriceBackSpace" class="button button-small icon ion-backspace-outline button-keypad" ng-click="priceBackSpace()" style="padding:0px"></button>
                </div>
        </div>
        <!-- <button class="button button-block button-positive" ng-click="ok()">Save</button> -->
        <div>
            <button ng-show = "showAddItemBtn" class="button button-block button-calm ng-hide" ng-click="addItemOK()" >Add Item</button>
            <button ng-show = "showEditItemBtn" class="button button-block button-calm ng-hide" ng-click="editItemOK()" >Update Item</button>
            <button ng-show = "showAddSaleBtn" class="button button-block button-balanced ng-hide" ng-click="addSaleOK()">Add Sale</button>
        </div>
    </ion-content>

    <div ng-show="showPriceInput" class="ng-hide bar-keypad animation-element" style="position:absolute; bottom:0px; width:100%" >
        <div class="button-bar">
            <button id = "1" class="button" ng-click="btn_price($event)">1</button>
            <button id = "2" class="button" ng-click="btn_price($event)">2</button>
            <button id = "3" class="button" ng-click="btn_price($event)">3</button>
            
        </div>
        <div class="button-bar">
            <button id = "4" class="button" ng-click="btn_price($event)">4</button>
            <button id = "5" class="button" ng-click="btn_price($event)">5</button>
            <button id = "6" class="button" ng-click="btn_price($event)">6</button>
        </div>
        <div class="button-bar">
            <button id = "7" class="button" ng-click="btn_price($event)">7</button>
            <button id = "8" class="button" ng-click="btn_price($event)">8</button>
            <button id = "9" class="button" ng-click="btn_price($event)">9</button>
            
        </div>
         <div class="button-bar">
            <button id = "hideKeypad" class="button button-raised mdi mdi-keyboard-close" ng-click="showPriceInput = !showPriceInput"></button>
            <button id = "0" class="button" ng-click="btn_price($event)">0</button>
            <button id = "." class="button" ng-click="btn_price($event)">.</button>
            
        </div>
    </div>


</ion-view>
