<ion-view view-title="Stores">
    <!-- <ion-nav-buttons> -->
        <!-- <span  style="display: flex; align-items: center">Stores</span> -->
        <!-- <a class="button" ui-sref="main.stores_list">{{current.store_name}}</a>  -->
        <!-- <button class="button" ng-click="showDatePicker()">{{current.set_date}}</button> -->
    <!-- </ion-nav-buttons> -->
<!--     <ion-header-bar align-title="left" class="bar-subheader bar-balanced">
        <h1 class="title">Stores</h1>
    </ion-header-bar> -->

    <ion-content padding="true" ng-show="showSpinner">
        <ion-spinner icon="ripple"></ion-spinner>
    </ion-content>

    <ion-content padding="false">
        <ion-list>
            <ion-item class="ng-hide" ng-show="showInitialStoreSelectMsg"><center><b>Where are you today?</b></center></ion-item>
            <ion-item ng-repeat="store in stores_array | orderBy:'distance'" ng-click="selectStore(store.id, store.name)" <b>{{store.name}}</b><span style="float: right;">{{store.distance_disp}}</span></ion-item>
        </ion-list>
    </ion-content>
</ion-view>
