<ion-view hide-back-button="true" view-title="Sales">
    <ion-nav-buttons side="right">
        <a class="button button-clear button-store" ui-sref="main.stores_list">{{current.store_name}}</a>
        <button class="button button-clear button-icon button-cleear mdi mdi-calendar" style="color: white" ng-click="showDatePicker($event)"></button>
        <!--
        <div class="dropdown-menu" ng-if="showPCDatePicker" ng-show="showPCDatePicker" ng-click="$event.preventDefault();$event.stopPropagation()">
            <div date-picker="current.raw_set_date" view="date" max-view="date" min-view="date" auto-close="false"></div>
        </div>
        -->
    </ion-nav-buttons>
    
    <ion-content padding="true" class="center" ng-show="showSpinner">
        <div class="row">
            <div class="col" style="text-align: center;">
                <p class="loading-text">Getting sales</p>
                <ion-spinner icon="android"></ion-spinner>
            </div>
        </div>
    </ion-content>
    
    <ion-content padding="false" class="ng-hide" ng-show="showSalesView">
        <ion-list class="border-list">
            <ion-item class="ng-hide" ng-repeat="(key, sale) in sales" ng-show="key == 'CLOSED' || role.allowViewAllSales || sale.user == user_detail.email">
                <h2>{{sale.item}}<span class="item-note"><span style="color:#F44336" ng-show="sale.discount!=0" class="ng-hide">{{sale.discount}}%</span> {{sale.price | currency:"$"}}</span></h2>
                
                <p><span ng-if="isOnline()" ng-show="isOnline()">By {{getNameByEmail(sale.user)}}</span><span class="item-note">{{sale.time}}</span></p>
                <div ng-if="!salesClosed">
                    <ion-option-button class="button-option button-positive-900 mdi mdi-pencil" ng-if="role.allowEditAllSales || (role.allowEditOwnSales && sale.user == user_detail.email)" ng-show="role.allowEditAllSales || (role.allowEditOwnSales && sale.user == user_detail.email)" ng-click="editSale(key)"></ion-option-button>
                    <ion-option-button class="button-option button-assertive-900 mdi mdi-delete" ng-if="role.allowDeleteAllSales || (role.allowDeleteOwnSales && sale.user == user_detail.email)" ng-show="role.allowDeleteAllSales || (role.allowDeleteOwnSales && sale.user == user_detail.email)" ng-click="removeSale(key)"></ion-option-button>
                </div>
            </ion-item>
             <ion-item class="ng-hide energized item-icon-left" ng-if="!salesClosed && role.allowCloseSales" ng-show="!salesClosed && role.allowCloseSales">
                <i class="icon ion-chevron-left"></i>Swipe to close sales
                <ion-option-button class="button-energized" ng-click="closeSales()" style="width:300px; padding-left:10px"> Close sales<i class="ion-android-done-all" style="font-size: 30px; padding-left: 10px"></i></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <button class="button button-fab button-fab-bottom-right button-brg-a mdi mdi-plus ng-hide" ui-sref="main.items_list" ng-click="current.itemAddMode='fromsale'" ng-if="role.allowAddSales && !salesClosed" ng-show="role.allowAddSales && !salesClosed"></button>

    <button class="button button-fab button-fab-bottom-right button-brg-a mdi mdi-barcode ng-hide" ui-sref="main.sales_scanadd" ng-if="role.allowAddSales && !salesClosed" ng-click="current.itemAddMode='fromsale'" ng-show="role.allowAddSales && !salesClosed" style="margin-right:70px"></button>

    <button class="button button-fab button-fab-bottom-right button-dark mdi mdi-lock ng-hide" on-hold="reOpenSales()" ng-if="showClosedMessage" ng-show="showClosedMessage"></button>

    <!--
    <ion-footer-bar class="bar-balanced ng-hide" style="padding:0px" ng-if="role.allowAddSales && !salesClosed" ng-show="role.allowAddSales && !salesClosed">
        <div class="button-bar">
            -->
            <!-- <button class="button icon-right ion-plus-round button-balance" on-click="main.items_list">ADD</button> -->
            <!--
            <a class="button" ui-sref="main.items_list" style="font-size:17px"><i class="ion-plus-round" style="font-size:17px"></i> ADD</a>
            <a class="button" ui-sref="main.sales_scanadd" style="font-size:17px" ><i class="ion-ios-barcode-outline" style="font-size:20px"></i> SCAN</a>
        </div>
    </ion-footer-bar>
    <ion-footer-bar class="bar-energized ng-hide" style="padding:0px" ng-if="showClosedMessage" ng-show="showClosedMessage">
        <div class="button-bar ">
            <button class="button button-energized" on-hold="reOpenSales()">Sales Closed. Press and hold to re-open sales</button>
        </div>
    </ion-footer-bar>
    -->
</ion-view>

