<ion-view view-title="Stores">
    <ion-content padding="true" ng-show="showSpinner">
        <ion-spinner icon="ripple"></ion-spinner>
    </ion-content>

    <ion-content padding="false">
        <ion-list>
            <ion-item class="ng-hide" ng-show="showInitialStoreSelectMsg"><center><b>Where are you today?</b></center></ion-item>
            <ion-item ng-repeat="store in stores_array | orderBy:'distance'" class="item-avatar" ng-click="selectStore(store.id, store.name)"><img ng-src="img/stores/{{store.id}}.png"><h2>{{store.name}}</h2><p>{{store.distance_disp}}</p></ion-item>
        </ion-list>
    </ion-content>
</ion-view>
