<ion-view>
    <ion-nav-buttons side="right">
        <a class="button" ui-sref="main.stores_list">{{current.store_name}}</a>
        <button class="button" ng-click="showDatePicker()">{{current.set_date}}</button>
    </ion-nav-buttons>

    <ion-header-bar align-title="left" class="bar-subheader bar-balanced">
        <h1 class="title">Add Sale</h1>
    </ion-header-bar>

    <ion-content padding="true" ng-show="showItemList">
        <ion-list>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="text" ng-model="query.text" placeholder="Search">
                </label>
                <button class="button button-small" ng-click="query.text = ''">
                    Clear
                </button>
            </div>
            <ion-item ng-repeat="item in items_array | filter :query.text | uppercase" ng-click="selectItem(item.id)"><b>{{item.id}}</b></ion-item>
            <ion-item ng-show="(items_array | filter :query.text | uppercase).length == 0" ng-click="addItem()"><center><b>Not Found. Add New Item?</b></center></ion-item>
        </ion-list>
    </ion-content>

    <ion-content padding="true" ng-show="showSaleDetail">
        <label class="item item-input">
            <span class="input-label">Item</span>
            <span>{{sale.item_id}}</span>
        </label>
        <label class="item item-input">
            <span class="input-label">Retail Price</span>
            <span>{{sale.retail_price | currency:"$"}}</span>
        </label>
            <div class="item item-input-inset" ng-show="showDisOption">
                <label class="item item-input-wrapper" style="padding:0px 0px 0px 5px; background:#fff; border-style: none">
                    <span class="input-label">Discount(%)</span>
                </label>
                    <ion-scroll direction="x" style="width: 200px">
                        <button class="button button-clear button-small button-positive" ng-click="sale.sale_price = sale.retail_price - sale.retail_price * 5 / 100">5%</button>
                        <button class="button button-clear button-small button-positive" ng-click="sale.sale_price = sale.retail_price - sale.retail_price * 10 / 100">10%</button>
                        <button class="button button-clear button-small button-positive" ng-click="sale.sale_price = sale.retail_price - sale.retail_price * 15 / 100">15%</button>
                        <button class="button button-clear button-small button-positive" ng-click="sale.sale_price = sale.retail_price - sale.retail_price * 20 / 100">20%</button>
                        <button class="button button-clear button-small button-positive" ng-click="sale.sale_price = sale.retail_price - sale.retail_price * 25 / 100">25%</button>
                        <button class="button button-clear button-small button-positive" ng-click="sale.sale_price = sale.retail_price - sale.retail_price * 30 / 100">30%</button>
                        <button class="button button-clear button-small button-positive" ng-click="sale.sale_price = sale.retail_price - sale.retail_price * 35 / 100">35%</button>
                        <button class="button button-clear button-small button-positive" ng-click="sale.sale_price = sale.retail_price - sale.retail_price * 40 / 100">40%</button>
                        <button class="button button-clear button-small button-positive" ng-click="sale.sale_price = sale.retail_price - sale.retail_price * 45 / 100">45%</button>
                        <button class="button button-clear button-small button-positive" ng-click="sale.sale_price = sale.retail_price - sale.retail_price * 50 / 100">50%</button>
                    </ion-scroll>
                    <button class="button button-clear button-small button-positive" ng-click="dOption()">></button>
            </div>
        <ion-list>
            <div class="item item-input-inset" ng-hide="showDisOption">
            <!-- <span class="input-label">code</span> -->
                <label class="item item-input-wrapper" style="padding:0px 0px 0px 5px; background:#fff; border-style: none">
                    <span class="input-label">Discount(%)</span>
                    <input type="number" min="0" max="100" ng-model="sale.discount_rate" ng-change="sale.sale_price = sale.retail_price - sale.retail_price * sale.discount_rate / 100">
                </label>
                <button class="button button-clear button-small button-positive" ng-click="dOption()">>
              </button>
            </div>
        </ion-list>
        <label class="item item-input">
            <span class="input-label">Sale Price</span>
            <input type="number" min="0" ng-model="sale.sale_price"></input>
        </label>
        <label class="item item-input">
            <span class="input-label">Qty</span>
            <input type="number" min="1" ng-model="sale.qty">
        </label>
    </ion-content>

    <ion-footer-bar class="bar-balanced" ng-show="showSaleDetail">
        <div class="button-bar">
            <button class="button" ng-click="ok()" >OK</button>
            <button class="button" ng-click="cancel()">Back</button>
        </div>
    </ion-footer-bar>
</ion-view>
