<ion-view title= {{headerLabel}} >
    <ion-nav-buttons side="right">
        <a class="button button-clear button-store" ui-sref="main.stores_list">{{current.store_name}}</a>
        <button class="button button-clear button-icon button-cleear mdi mdi-calendar" style="color: white" ng-click="showDatePicker()"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader brg-bg" style="padding:0px">
        <div class="button-bar ng-hide" ng-show = "showInputSelections">
            <button class="button pcode-button" style="line-height:17px" ng-class="{'purplebutton': toggleBrand, 'greenbutton': brandHaveValue}" ng-click="trig_brand()">Brand</br><b>{{item_brand}}</b></button>
            <button class="button pcode-button" style="line-height:17px" ng-class="{'purplebutton': toggleCode, 'greenbutton': codeHaveValue}" ng-click="trig_code()">Code</br><b>{{item_code}}</b></button>
            <button class="button pcode-button" style="line-height:17px" ng-class="{'purplebutton': toggleColor, 'greenbutton': colorHaveValue}" ng-click="trig_color()">Color</br><b>{{item_color}}</b></button>
            <button class="button pcode-button" style="line-height:17px" ng-class="{'purplebutton': toggleSize, 'greenbutton': sizeHaveValue}" ng-click="trig_size()">Size</br><b>{{item_size}}</b></button>
        </div>
    </ion-header-bar>

    <ion-content padding="false" style="margin-bottom:94px">
        <ion-list ng-if="showItemList">
            <ion-item ng-click="addItem()"><center><b>Not Found? Add New Item.</b></center></ion-item>
                <ion-item ng-repeat="item in items_array | itemFilter : item_brand:'brand' | itemFilter : item_code:'code' | itemFilter : item_color:'color' | itemFilter : item_size:'size' | uppercase" ng-click="selectItem(item.id)" ><b><h2>{{item.id}}</h2></b>
                <!-- <ion-item ng-repeat="item in items_array | itemFilter : current.item_brand:'brand' | uppercase" ng-click="selectItem(item.id)" ><b>{{item.id}}</b> -->
                <ion-option-button class="button-positive ion-edit" ng-click="editItem(item.id)"></ion-option-button>
                <ion-option-button class="button-assertive ion-close-round" ng-click="removeItem(item.id)"></ion-option-button>
            </ion-item>
        </ion-list>

        <ion-list ng-if="showColorInput">
            <ion-item class="item item-avatar" ng-repeat="color in colors_array | startsWith : filterLetters | orderBy: 'name'" ng-click="btn_color(color.name)" style="background-color:white">
                <h2>{{color.name}}</h2>
                <p>{{color.fullname}}</p>
            </ion-item>
        </ion-list>
    </ion-content>

        <div style="position:absolute; bottom: 0px; width:100%" ng-show="showItemCodeInputs" class="ng-hide animation-element">
            
            <div ng-repeat="brands in brands_array track by $index" ng-show="showBrandInput" class="button-bar ng-hide bar-keypad" style="background-color: #BA68C8; color: white;">
                <a ng-repeat="brand in brands | orderBy:'name' track by $index" id="{{brand.id}}" class="button button-raised" ng-class="{active: brand.id == item_brand}" ng-click="btn_brand(brand.name)">{{brand.name}}</a>
            </div> 

            <div ng-repeat="sizes in sizes_array track by $index" ng-show="showSizeInput" class="button-bar ng-hide bar-keypad">
                <a ng-repeat="size in sizes | orderBy:'name' track by $index" id ="{{size.id}}" class="button button-raised" ng-class="{active: size.id == item_size}" ng-click="btn_size({{size.id}})">{{size.name}}</a>
            </div>
            
            <div ng-show="showCodeInput" class="ng-hide">             
                <div class="button-bar bar-keypad">
                    <a id = "1" class="button button-raised ink-dark" ng-click="btn_code($event)">1</a>
                    <a id = "2" class="button button-raised ink-dark" ng-click="btn_code($event)">2</a>
                    <a id = "3" class="button button-raised ink-dark" ng-click="btn_code($event)">3</a>
                    <a id = "4" class="button button-raised ink-dark" ng-click="btn_code($event)">4</a>
                    <a id = "5" class="button button-raised ink-dark" ng-click="btn_code($event)">5</a>
                    <a id = "Clear" class="button button-raised icon ion-backspace" style="color: #a8adaf;" on-hold="btn_code_clear()" ng-click="btn_code_backspace()"></a>
                </div>
                <div class="button-bar bar-keypad">
                    <a id = "6" class="button button-raised ink-dark" ng-click="btn_code($event)">6</a>
                    <a id = "7" class="button button-raised ink-dark" ng-click="btn_code($event)">7</a>
                    <a id = "8" class="button button-raised ink-dark" ng-click="btn_code($event)">8</a>
                    <a id = "9" class="button button-raised ink-dark" ng-click="btn_code($event)">9</a>
                    <a id = "0" class="button button-raised ink-dark" ng-click="btn_code($event)">0</a>
                    <a id = "OK" class="button button-raised keypad-ok icon ion-ios-checkmark" style="color: #4cb5ab;" ng-click="btn_code_ok()"></a>
                </div>
            </div>
            <div ng-show="showColorInput" class="ng-hide" style="padding:0px">                
                <div class="button-bar bar-keypad">
                    <a id = "ABC" class="button button-raised ink-dark" ng-click="filterColor($event)">ABC</a>
                    <a id = "DEF" class="button button-raised ink-dark" ng-click="filterColor($event)">DEF</a>
                    <a id = "GHI" class="button button-raised ink-dark" ng-click="filterColor($event)">GHI</a>
                    <a id = "JKL" class="button button-raised ink-dark" ng-click="filterColor($event)">JKL</a>
                    <a id = "MNO" class="button button-raised ink-dark" ng-click="filterColor($event)">MNO</a>
                </div>
                <div class="button-bar bar-keypad">
                    <a id = "PQR" class="button button-raised ink-dark" ng-click="filterColor($event)">PQR</a>
                    <a id = "STU" class="button button-raised ink-dark" ng-click="filterColor($event)">STU</a>
                    <a id = "VWX" class="button button-raised ink-dark" ng-click="filterColor($event)">VWX</a>
                    <a id = "YZ" class="button button-raised ink-dark" ng-click="filterColor($event)">YZ</a>
                </div>
            </div>
        </div> 

</ion-view>
