<ion-view title="Stocks" >
    <ion-nav-buttons side="left">
        <button class="button" ng-click="showStoreList()">{{store_name}}</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="doSomething()">{{date}}</button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header" ng-hide="hideStockView">
        <label class="item item-input">
            <span class="input-label">Search</span>
        <input ng-model="query" type="text">
        </label>
        <!-- <ion-refresher
            pulling-text="Pull for menu..." >
        </ion-refresher> -->
        <ion-list>
            <ion-item ng-repeat="stock in stocks | filter :query ">
                <b>{{stock.item}}</b><span style="float: right;">{{stock.qty}} </span>
                <ion-option-button class="button-positive ion-plus" ng-click="stock.qty=stock.qty+1">
                </ion-option-button>
                <ion-option-button class="button-energized ion-minus" ng-click="minusItem('{{stock.$id}}',{{stock.qty}})">
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="DelStock('{{stock.$id}}','{{stock.qty}}')">Delete
                </ion-option-button>
            </ion-item>
            <ion-item><button class="button" ng-click="manualAddStockPage1()">Add</button><button class="button" ng-click="scanAddStockPage1()">Scan</button></ion-item>
        </ion-list>

    </ion-content>
     <ion-content padding="false" ng-show="selectStoreView">
        <ion-list>
            <ion-item ng-repeat="store in stores" ng-click="selectStore('{{store.id}}', '{{store.name}}')"><b>{{store.name}}</b></ion-item>
        </ion-list>
    </ion-content>

    <ion-content padding="false" ng-show="showManualAddStockPage1">
        <label class="item item-input">
            <span class="input-label">Search</span>
            <input ng-model="query" type="text">
        </label>
        <ion-list>
            <ion-item ng-repeat="item in items | filter :query" ng-click="manualAddStockPage2(item.id)"><b>{{item.id}}</b></ion-item>
        </ion-list>
    </ion-content>

    <ion-content padding="false" ng-show="showManualAddStockPage2">
        <ion-list>
            <ion-item><b>{{item_id}}</b></ion-item>
        </ion-list>
        <label class="item item-input">
            <span class="input-label">Qty</span>
            <input ng-model="item_qty" type="text">
        </label>
            <button class="button" ng-click="manualAddStockOK(item_qty)">OK</button>
    </ion-content>
</ion-view>
