<ion-view view-title="Item List" >

    <ion-content padding="false">
        <div class="button-bar" style="background-color:#795548;" ng-style="CloseStyle">
            <button class="button button-flat" ui-sref="main.stores_list">{{current.store_name}}</button>
            <button class="button button-flat" ng-click="showDatePicker($event)">{{current.set_date}}</button>
        </div>

        <ion-refresher
            pulling-icon="ion-camera"
            pulling-text="Pull to Scan"
            disable-pulling-rotation = "true"
            on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list>
            <ion-item class="item-button-right" style="background-color: #4DD0E1; color: white;">
                <b>Item: </b><b id="searchItem">{{current.item_id}}</b>
                <button class="button button-clear button-small" style="color: white;" ng-click="itemIdClear()">Clear</button>
            </ion-item>
            
            <ion-item ng-click="addItem()"><center><b>Not Found? Add New Item.</b></center></ion-item>
            
            <ion-item ng-repeat="(key,item) in items_array | filter : current.item_brand | filter : current.item_color | filter : current.item_size | filter : current.item_code | uppercase" ng-click="selectItem(item.id)" ><b>{{item.id}}</b>
                <ion-option-button class="button-positive ion-edit" ng-click="editItem(item.id)"></ion-option-button>
                <ion-option-button class="button-assertive ion-close-round" ng-click="removeItem(item.id)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>

        <div ng-hide = "hideSearchButtons" style="position:fixed; bottom:0%; width:100%;">
            <!-- <div class="item" style="padding:5px">
                <ion-scroll direction="x" style="width:100%">
                    <button id = "HB" class="button" ng-click="btn_brand($event)">HB</button>
                    <button id = "F" class="button" ng-click="btn_brand($event)">F</button>
                    <button id = "R" class="button" ng-click="btn_brand($event)">R</button>
                    <button id = "H" class="button" ng-click="btn_brand($event)">H</button>
                </ion-scroll>
            </div>
            <div class="item" style="padding:5px">
                <ion-scroll direction="x" style="width:100%">
                    <button id = "BLK" class="button" ng-click="btn_color($event)">BLK</button>
                    <button id = "BLU" class="button" ng-click="btn_color($event)">BLU</button>
                    <button id = "GRN" class="button" ng-click="btn_color($event)">GRN</button>
                    <button id = "BRN" class="button" ng-click="btn_color($event)">BRN</button>
                </ion-scroll>
            </div>
            <div class="item" style="padding:5px">
                <ion-scroll direction="x" style="width:100%">
                    <button id = "38" class="button" ng-click="btn_size($event)">38</button>
                    <button id = "39" class="button" ng-click="btn_size($event)">39</button>
                    <button id = "40" class="button" ng-click="btn_size($event)">40</button>
                    <button id = "41" class="button" ng-click="btn_size($event)">41</button>
                    <button id = "42" class="button" ng-click="btn_size($event)">42</button>
                    <button id = "43" class="button" ng-click="btn_size($event)">43</button>
                    <button id = "44" class="button" ng-click="btn_size($event)">44</button>
                    <button id = "45" class="button" ng-click="btn_size($event)">45</button>
                </ion-scroll>
            </div>
            <div class="button-bar">
                <button id = "0" class="button" ng-click="btn_code($event)">0</button>
                <button id = "1" class="button" ng-click="btn_code($event)">1</button>
                <button id = "2" class="button" ng-click="btn_code($event)">2</button>
                <button id = "3" class="button" ng-click="btn_code($event)">3</button>
                <button id = "4" class="button" ng-click="btn_code($event)">4</button>
            </div>
            <div class="button-bar">
                <button id = "5" class="button" ng-click="btn_code($event)">5</button>
                <button id = "6" class="button" ng-click="btn_code($event)">6</button>
                <button id = "7" class="button" ng-click="btn_code($event)">7</button>
                <button id = "8" class="button" ng-click="btn_code($event)">8</button>
                <button id = "9" class="button" ng-click="btn_code($event)">9</button>
            </div> -->
            <div ng-show="showBrandInput" class="item item-input-inset bar-dark" style="padding:5px">
                <ion-scroll direction="x" style="width:100%">
                    <button id = "HB" class="button" ng-click="btn_brand($event)">HB</button>
                    <button id = "F" class="button" ng-click="btn_brand($event)">F</button>
                    <button id = "R" class="button" ng-click="btn_brand($event)">R</button>
                    <button id = "H" class="button" ng-click="btn_brand($event)">H</button>
                </ion-scroll>
            </div>
            <div ng-show="showCodeInput" class="item bar-dark">
                <button id = "codeBack" class="button" ng-click= "btn_back($event)"><</button>
                <div class="button-bar" style="padding-top:4px">
                    <button id = "1" class="button" ng-click="btn_code($event)">1</button>
                    <button id = "2" class="button" ng-click="btn_code($event)">2</button>
                    <button id = "3" class="button" ng-click="btn_code($event)">3</button>
                    <button id = "4" class="button" ng-click="btn_code($event)">4</button>
                    <button id = "5" class="button" ng-click="btn_code($event)">5</button>
                    <button id = "OK" class="button" ng-click="btn_code_clear()">CL</button>
                </div>
                <div class="button-bar" style="padding-bottom:4px">
                    <button id = "6" class="button" ng-click="btn_code($event)">6</button>
                    <button id = "7" class="button" ng-click="btn_code($event)">7</button>
                    <button id = "8" class="button" ng-click="btn_code($event)">8</button>
                    <button id = "9" class="button" ng-click="btn_code($event)">9</button>
                    <button id = "0" class="button" ng-click="btn_code($event)">0</button>
                    <button id = "Clear" class="button" ng-click="btn_code_ok()">OK</button>
                </div>
            </div>
            <div ng-show="showColorInput" class="item item-input-inset bar-dark" style="padding:5px">
                <ion-scroll direction="x" style="width:100%">
                    <button id = "colorBack" class="button" ng-click="btn_back($event)"><</button>
                    <button id = "BLK" class="button" style="background-color: black" ng-click="btn_color($event)">BLK</button>
                    <button id = "BLU" class="button" style="background-color: #2196F3" ng-click="btn_color($event)">BLU</button>
                    <button id = "GRN" class="button" style="background-color: #4CAF50" ng-click="btn_color($event)">GRN</button>
                    <button id = "BRN" class="button" style="background-color: #795548" ng-click="btn_color($event)">BRN</button>
                </ion-scroll>
            </div>
            <div ng-show="showSizeInput" class="item item-input-inset bar-dark" style="padding:5px">
                <ion-scroll direction="x" style="width:100%">
                    <button id = "sizeBack" class="button" ng-click="btn_back($event)"><</button>
                    <button id = "38" class="button" ng-click="btn_size($event)">38</button>
                    <button id = "39" class="button" ng-click="btn_size($event)">39</button>
                    <button id = "40" class="button" ng-click="btn_size($event)">40</button>
                    <button id = "41" class="button" ng-click="btn_size($event)">41</button>
                    <button id = "42" class="button" ng-click="btn_size($event)">42</button>
                    <button id = "43" class="button" ng-click="btn_size($event)">43</button>
                    <button id = "44" class="button" ng-click="btn_size($event)">44</button>
                    <button id = "45" class="button" ng-click="btn_size($event)">45</button>
                </ion-scroll>
            </div>
        </div>
</ion-view>
