<ion-view hide-back-button="true">
    <ion-nav-buttons side="right">
        <div style="min-width: 250px; text-align:right;">
        <a class="button" ui-sref="main.stores_list">{{current.store_name}}</a>
        <button class="button" ng-click="showDatePicker($event)">{{current.set_date}}</button>
        <div class="dropdown-menu" ng-if="showPCDatePicker" ng-show="showPCDatePicker" ng-click="$event.preventDefault();$event.stopPropagation()">
            <div date-picker="current.raw_set_date" view="date" max-view="date" min-view="date" auto-close="false"></div>
        </div>
    </div>
    </ion-nav-buttons>
    
    <ion-header-bar align-title="left" class="bar-subheader bar-balanced" ng-style="CloseStyle">
        <h1 class="title">Sales</h1>
    </ion-header-bar>

    <ion-content padding="true" ng-show="showSpinner">
        <ion-spinner icon="ripple"></ion-spinner>
    </ion-content>
    
    <ion-content padding="false" class="ng-hide" ng-show="showSalesView" style="margin-bottom: 50px">
        <ion-list>
            <ion-item class="ng-hide" ng-repeat="(key, sale) in sales" ng-show="!sale.removed">
                <b>{{sale.item}}</b><span style="float: right;">{{sale.price | currency:"$"}}</span>
                <div ng-if="!salesClosed">
                    <ion-option-button class="button-positive ion-edit" ng-click="editSale(key)"></ion-option-button>
                    <ion-option-button class="button-assertive ion-close-round" ng-click="removeSale(key)"></ion-option-button>
                </div>
            </ion-item>
             <ion-item class="ng-hide energized item-icon-left" ng-if="!salesClosed" ng-show="!salesClosed">
                <i class="icon ion-chevron-left"></i>Swipe left to close sales for today
                <ion-option-button class="button-energized" ng-click="closeSales()"> Close today's sales<i class="ion-android-done-all" style="font-size: 30px; padding-left: 10px"></i></ion-option-button>
            </ion-item>
        </ion-list>
       
    </ion-content>

    <ion-content padding="true" class="ng-hide" ng-show="showEditSaleDetail">
        <label class="item item-input">
            <span class="input-label">Item</span>
            <span>{{sale.item_id | uppercase}}</span>
        </label>
        <label class="item item-input">
            <span class="input-label">Retail Price</span>
            <span>{{sale.retail_price | currency:"$"}}</span>
        </label>
            <div class="item item-input-inset" ng-show="showDisOption">
                <label class="item item-input-wrapper" style="padding:0px 0px 0px 5px; background:#fff; border-style: none">
                    <span class="input-label">Discount(%)</span>
                </label>
                    <ion-scroll direction="x" style="width: 200px">
                        <button id="5" class="button button-positive" data-ng-click="dButton($event)">5%</button>
                        <button id="10" class="button button-positive" data-ng-click="dButton($event)">10%</button>
                        <button id="15" class="button button-positive" data-ng-click="dButton($event)">15%</button>
                        <button id="20" class="button button-positive" data-ng-click="dButton($event)">20%</button>
                        <button id="25" class="button button-positive" data-ng-click="dButton($event)">25%</button>
                        <button id="30" class="button button-positive" data-ng-click="dButton($event)">30%</button>
                        <button id="35" class="button button-positive" data-ng-click="dButton($event)">35%</button>
                        <button id="40" class="button button-positive" data-ng-click="dButton($event)">40%</button>
                        <button id="45" class="button button-positive" data-ng-click="dButton($event)">45%</button>
                        <button id="50" class="button button-positive" data-ng-click="dButton($event)">50%</button>
                    </ion-scroll>
                    <button class="button button-clear button-small button-positive" ng-click="dOption()">></button>
            </div>
        <ion-list>
            <div class="item item-input-inset" ng-hide="showDisOption">
            <!-- <span class="input-label">code</span> -->
                <label class="item item-input-wrapper" style="padding:0px 0px 0px 5px; background:#fff; border-style: none">
                    <span class="input-label">Discount(%)</span>
                    <input type="text" min="0" max="100" ng-model="sale.discount_rate" ng-change="sale.sale_price = sale.retail_price - sale.retail_price * sale.discount_rate / 100">
                </label>
                <button class="button button-clear button-small button-positive" ng-click="dOption()">>
              </button>
            </div>
        </ion-list>
        <label class="item item-input">
            <span class="input-label">Sale Price</span>
            <input type="number" min="0" ng-model="sale.sale_price" ></input>
        </label>
    </ion-content>

 <!--    <ion-footer-bar class="bar-subfooter bar-energized ng-hide" ng-if="!salesClosed" ng-show="!salesClosed">
        <div class="button-bar">
            <button class="button" ng-click="closeSales()">Close sales for the day.</button>
        </div>
    </ion-footer-bar> -->
    <ion-footer-bar class="bar-balanced ng-hide" ng-if="!salesClosed" ng-show="!salesClosed">
        <div class="button-bar">
            <a class="button" ui-sref="main.sales_add" ><i class="ion-plus-round"></i> Add</a>
            <a class="button" ui-sref="main.sales_scanadd" ><i class="ion-ios-barcode-outline"></i> Scan</a>
        </div>
    </ion-footer-bar>
     <ion-footer-bar keyboard-attach class="bar-balanced ng-hide" ng-show="showEditBtns">
        <div class="button-bar">
            <a class="button" ng-click="editSaleUpdateBtn()" >Update</a>
            <a class="button" ng-click="editSaleCancelBtn()" >Cancel</a>
        </div>
    </ion-footer-bar>
    <ion-footer-bar class="bar-energized ng-hide" ng-if="showClosedMessage" ng-show="showClosedMessage">
        <div class="button-bar ">
            <button class="button button-energized" on-hold="reOpenSales()">Sales Closed. Press and hold to re-open sales</button>
        </div>
    </ion-footer-bar>
</ion-view>

