<ion-view>
    <ion-nav-buttons side="right">
        <a class="button" ui-sref="main.stores_list">{{current.store_name}}</a>
        <button class="button" ng-click="showDatePicker()">{{current.set_date}}</button>
    </ion-nav-buttons>

    <ion-header-bar align-title="left" class="bar-subheader bar-balanced">
        <h1 class="title">Add Sale</h1>
    </ion-header-bar>

    <ion-content padding="true" ng-show="showItemList">
        <ion-list>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="text" ng-model="query.text" placeholder="Search">
                </label>
                <button class="button button-small" ng-click="query.text = ''">
                    Clear
                </button>
            </div>
            <ion-item ng-repeat="item in items_array | filter :query.text | uppercase" ng-click="selectItem(item.id)"><b>{{item.id}}</b></ion-item>
            <ion-item ng-show="(items_array | filter :query.text | uppercase).length == 0" ng-click="addItem()"><center><b>Not Found. Add New Item?</b></center></ion-item>
        </ion-list>
    </ion-content>

    <ion-content padding="true" ng-show="showSaleDetail">
        <ion-list>
            <ion-item ng-click="showItemListPage()"><b>{{sale.item_id}}</b></ion-item>
        </ion-list>
        <label class="item item-input">
            <span class="input-label">Retail Price</span>
            <input ng-model="sale.retail_price" type="text">
        </label>
        <label class="item item-input">
            <span class="input-label">Discount(%)</span>
            <input ng-model="sale.discount_rate" ng-change="sale.sale_price = sale.retail_price - sale.retail_price * sale.discount_rate / 100" type="text">
        </label>
        <label class="item item-input">
            <span class="input-label">Sale Price</span>
            <input ng-model="sale.sale_price" type="text"></input>
        </label>
        <label class="item item-input">
            <span class="input-label">Qty</span>
            <input ng-model="sale.qty" type="text">
        </label>
    </ion-content>

    <ion-footer-bar class="bar-balanced" ng-show="showSaleDetail">
        <div class="button-bar">
            <button class="button" ng-click="ok()" >OK</button>
            <button class="button" ng-click="cancel()">Back</button>
        </div>
    </ion-footer-bar>
</ion-view>
