<ion-view view-title="User">

    <ion-content padding="true">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Email address</span>
                <input type="text" ng-disabled="user_detail.id" placeholder="Email address" ng-model="user_detail.email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Full name</span>
                <input type="text" placeholder="Full name" ng-model="user_detail.name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input class="hidden" type="password" placeholder="Password" ng-model="user_detail.password" ng-show="!user_detail.id">
                <button class="button button-small button-balanced hidden" ng-show="user_detail.id" ng-click="reset_pw()">Reset Password</button>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Role</span>
                <select ng-model="user_detail.role">
                    <option ng-repeat="role in roles" ng-value="role.id" ng-selected="user_detail.role == role.id" >{{role.name}}</option>
                </select>
            </label>
        </div>

    </ion-content>
    <button class="button button-fab button-fab-bottom-right button-brg-a mdi mdi-content-save" ng-click="ok()"></button>
</ion-view>
