<ion-view view-title="Users">
    <div class="bar bar-subheader data_network_unavailable ng-hide" ng-hide="isOnline()">
        <p>Data network unavailable</p>
    </div>

    <ion-content padding="false" ng-class="{'has-subheader': !isOnline()}">
        <ion-list class="border-list">
            <ion-item ng-repeat="user in users" ng-if="user.active">
            <h2>{{user.name}}</h2>
            <p>{{user.email}}
                <span class="item-note">{{roles[user.role].name}}</span>
            </p>
            <ion-option-button ink class="button-option button-positive-900 mdi mdi-pencil ink" ng-click="editUser(user.id)"></ion-option-button>
            <ion-option-button ink class="button-option button-assertive-900 mdi mdi-delete ink" ng-click="removeUser(user.id)"></ion-option-button>
            </ion-item>
            </ion-list>
    </ion-content>
    <button ink class="button button-fab button-fab-bottom-right button-brg-a mdi mdi-account-plus ink" ng-click="addUser()"></button>
</ion-view>
