<ion-view view-title="User">
    <div class="bar bar-subheader data_network_unavailable ng-hide" ng-hide="isOnline()">
        <p>Data network unavailable</p>
    </div>

    <ion-content padding="true" ng-class="{'has-subheader': !isOnline()}">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Email address</span>
                <input type="email" ng-disabled="user_detail.id" placeholder="Email address" ng-model="user_detail.email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Full name</span>
                <input type="text" placeholder="Full name" ng-model="user_detail.name">
            </label>
            <label class="item item-input item-floating-label" ng-show="!user_detail.id">
                <span class="input-label">Password</span>
                <input class="hidden" type="password" placeholder="Password" ng-model="user_detail.password">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Role</span>
                <select ng-model="user_detail.role">
                    <option ng-repeat="role in roles" ng-value="role.id" ng-selected="user_detail.role == role.id" >{{role.name}}</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label" ng-show="user_detail.role == 'promoter'">
                <span class="input-label">Store InCharge</span>
                <select ng-model="user_detail.storeIC">
                    <option value="floater" >Floater</option>
                    <option ng-repeat="store in stores" ng-value="store.id" ng-selected="user_detail.storeIC == store.id" >{{store.name}}</option>
                </select>
            </label>
        </div>
        <ion-list>
            <ion-item class="ng-hide balanced item-icon-left" ng-show="user_detail.id">
                <i class="icon ion-chevron-left"></i>Swipe to Reset Password
                <ion-option-button class="button-balanced" ng-click="reset_pw()" style="width:300px"> Reset Password <i class="ion-android-done-all" style="font-size: 30px ; color:white"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>


        <!-- <button class="button button-block button-balanced hidden" ng-show="user_detail.id" ng-click="reset_pw()">Reset Password</button> -->

    </ion-content>
    <button class="button button-fab button-fab-bottom-right button-brg-a mdi mdi-content-save" ng-click="ok()"></button>
</ion-view>
