# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/cordova-plugin-splashscreen/
plugins/cordova-plugin-whitelist/
plugins/cordova-plugin-geolocation/
plugins/de.appplant.cordova.plugin.email-composer/
plugins/android.json
plugins/fetch.json
plugins/ios.json
www/lib/
