/* Empty. Add your own CSS if you like */
.brg-bg,
.button-brg,
.bar .button-brg,
.header-brg,
.button-bar-brg,
.bar-brg,
.brg-border,
.brg-bg:hover,
.button-brg:hover,
.bar .button-brg:hover,
.header-brg:hover,
.button-bar-brg:hover,
.bar-brg:hover,
.brg-border:hover,
.brg-bg:active,
.button-brg:active,
.bar .button-brg:active,
.header-brg:active,
.button-bar-brg:active,
.bar-brg:active,
.brg-border:active,
.brg-bg.activated,
.button-brg.activated,
.bar .button-brg.activated,
.header-brg.activated,
.button-bar-brg.activated,
.bar-brg.activated,
.brg-border.activated {
    background-color: #5E3462;
    color: #fff;
}

.popup-head{
    background-color: #009688;
}

.popup-head h3, h5{
    color: white;
}

.popup-head h3{
    font-weight: 400 !important;
    font-size: 14px !important;
    text-align: left;
}

.popup-head h5{
    font-weight: 500 !important;
    font-size: 32px !important;
    text-align: left;
}

.popup-body{
    background-color: white;
}

.bar .button {
    min-width: 56px;
    max-width: 56px;
    width: 56px;
}

.button-fab{
    font-size: 24px;
}

.bar .button-store {
    max-width: 120px;
    width: initial;
    line-height: 56px;
    font-weight: 400 !important;
    font-size: 12px !important;
}

.item-complex .item-content, .item-radio .item-content {
    padding: 16px 16px 16px 16px;
}

.button-option{
    font-size: 24px !important;
}

.bar .title {
    margin: 0 0px;
    left: 72px !important;
    right: 0px !important;
}

.item, .item-complex .item-content, .item-radio .item-content {
      background-color: white;
}

.item-icon-left .icon, .item-icon-right .icon {
    font-size: 24px;
}

.sidemenu_header{
    background-image: url(../img/sidemenu_header_bg.jpg);
}
.sidemenu_header_top{
    height: 64px;
}

.sidemenu_header_user_detail{
    height: 72px;
    padding-bottom: 8px;
    border-width: 1px;
    border-color: #ddd;
}

.sidemenu_username {
    font-weight: 500;
    font-size: 14px;
    margin: 16px;
    color: #ffffff;
}

.sidemenu_email {
    font-weight: 400;
    font-size: 14px;
    margin: 16px;
    color: #ffffff;
}

.sidemenu_role {
    font-weight: 400;
    font-size: 14px;
    margin: 16px;
    color: #ffffff;
}

.sidemenu_border{
    height: 1px;
    background-color: #bac1c9;
}

.sidemenu_list .list{
    padding-top: 8px;
}

.sidemenu_item {
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 48px;
    border-width: 0px;
}

.sidemenu_item.active {
    background-color: #ebebeb;
}

.sidemenu_item_icon{
    width: 56px;
    height: 48px;
    padding: 12px 16px 12px 16px;
    vertical-align: middle;
    color: #737373;
}

.sidemenu_item_text{
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    padding: 0px 0px 0px 16px;
}

.sidemenu_item .item-content{
    padding: 0px 0px 0px 0px;
    height: 48px;
    vertical-align: middle;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: block;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.role-table {
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #f7f7f7;
}

.bluebutton{
  background-color: #387EF5;
  color: white;
}
